flows.json
[
    {
        "id": "f0c65390ea861234",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83de6736bbbfb472",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "545095cb5b084a47",
        "type": "http response",
        "z": "f0c65390ea861234",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1410,
        "y": 400,
        "wires": []
    },
    {
        "id": "8a6c3afa8a656375",
        "type": "http in",
        "z": "f0c65390ea861234",
        "name": "",
        "url": "/dados",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "9e15f52fc239f81b",
                "545095cb5b084a47"
            ]
        ]
    },
    {
        "id": "126c40cf4cb3aeeb",
        "type": "http in",
        "z": "f0c65390ea861234",
        "name": "",
        "url": "/retornadados",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "e79db8850b605412",
                "9e15f52fc239f81b"
            ]
        ]
    },
    {
        "id": "e79db8850b605412",
        "type": "file in",
        "z": "f0c65390ea861234",
        "name": "",
        "filename": "banco",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "cb9d3b8d66d76809"
            ]
        ]
    },
    {
        "id": "d30889b49500f891",
        "type": "change",
        "z": "f0c65390ea861234",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "}",
                "fromt": "str",
                "to": "},",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " ",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "},]",
                "fromt": "str",
                "to": "}]",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 100,
        "wires": [
            [
                "9c8dcc97ebd55f2a"
            ]
        ]
    },
    {
        "id": "cb9d3b8d66d76809",
        "type": "function",
        "z": "f0c65390ea861234",
        "name": "function 2",
        "func": "var string = \"[\";\n\nstring = string + msg.payload + '{\"nome\":\"guilherme\"} '+\"]\";\n\nmsg.payload = string;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 100,
        "wires": [
            [
                "d30889b49500f891"
            ]
        ]
    },
    {
        "id": "9c8dcc97ebd55f2a",
        "type": "json",
        "z": "f0c65390ea861234",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1290,
        "y": 100,
        "wires": [
            [
                "545095cb5b084a47",
                "9e15f52fc239f81b"
            ]
        ]
    },
    {
        "id": "9e15f52fc239f81b",
        "type": "debug",
        "z": "f0c65390ea861234",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 160,
        "wires": []
    },
    {
        "id": "2c0a307d3c7c46da",
        "type": "http in",
        "z": "83de6736bbbfb472",
        "name": "",
        "url": "/paises",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "b65dd0a261f87adc"
            ]
        ]
    },
    {
        "id": "b65dd0a261f87adc",
        "type": "file in",
        "z": "83de6736bbbfb472",
        "name": "",
        "filename": "C:/Users/Aluno/Desktop/Dev/paises.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 780,
        "y": 360,
        "wires": [
            [
                "8cdad1a80422348b"
            ]
        ]
    },
    {
        "id": "8cdad1a80422348b",
        "type": "json",
        "z": "83de6736bbbfb472",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 420,
        "wires": [
            [
                "e045c8308c6fcaf6"
            ]
        ]
    },
    {
        "id": "e045c8308c6fcaf6",
        "type": "http response",
        "z": "83de6736bbbfb472",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 500,
        "wires": []
    }
]